---

---


<nav class="flex flex-wrap **:rounded-xl **:text-lg **:bg-blue-800 **:p-2 **:text-white  gap-2 mx-auto container mt-10 mb-16">
    <a href="/">obj to json</a>
    <a href="/counter">char counter</a>
    <a href="/uri-decoder">uri-decoder</a>
    <a href="/uri-encoder">uri-encoder</a>
    <a href="/json-strigify">json-strigify</a>
    <a href="/json-parser">json-parser</a>
</nav>