---
import Button from "@/components/starwind/button";
import { Textarea } from "@/components/starwind/textarea";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>JSON Stringify - Astro</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        class="bg-gray-50 min-h-screen flex items-center justify-center p-4 font-sans"
    >
        <slot />
    </body>
</html>
