---
import Header from "@/components/thisApp/header.astro";
import "@/styles/starwind.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>JSON Stringify - Astro</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        class="min-h-screen mx-auto bg-background"
    >
        <Header />
        <main class="mx-auto container">
            <slot />
        </main>
    </body>
</html>


